$color_1: #fff;
$color_2: #5b3818;
$font-family_1: 'Montserrat', sans-serif;
$font-family_2: 'Barlow Condensed', sans-serif;
$font-family_3: 'Caveat', sans-serif;
$font-family_4: 'Barlow', sans-serif;
$background-color_1: #be8d83;
$background-color_2: #fff;
$background-color_3: #000;

#es-rc {
  #es-rc-content {
    font-family: $font-family_1;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    max-width: 990px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    color: $color_1;
    background: #fff;

    * {
      box-sizing: border-box;
    }

    p {
      margin: 0;
    }

    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    .es-title {
      font-family: $font-family_2;
      text-transform: uppercase;
      text-align: center;
      font-size: 20px;
      margin-bottom: 40px;
      font-weight: 900;
    }

    .es-kv {
      &__left {
        position: relative;
        padding: 25px 0px 20px 0px;
      }

      &__left--img {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;

        &:hover {
          -webkit-transform: scale(1.05);
          transform: scale(1.05);
        }
      }

      &__left-arrow {
        position: absolute;
        top: 106px;
        left: 11px;
        max-width: 12%;
      }

      &__left-label-2 {
        position: absolute;
        top: 85px;
        right: 0;
        max-width: 15%;
      }

      &__left-label {
        position: absolute;
        bottom: -8px;
        left: 17px;
        max-width: 35%;
      }

      &__headline {
        font-family: $font-family_2;
        text-align: center;
        font-weight: 800;
        font-size: 22px;
        padding: 16px 0;
        line-height: 1;
      }

      &__headline--small {
        margin-bottom: 30px;
        font-family: $font-family_3;
        color: $color_2;
        font-size: 16px;
        padding: 0;
        font-weight: 700;
      }

      &__right {
        position: relative;
        margin-bottom: 35px;
      }

      &__right--header-logo {
        position: absolute;
        right: 0;
        max-width: 140px;
        padding: 15px;
      }

      &__right--photo {
        padding-top: 50px;
      }
    }

    .es-ingredients {
      position: relative;

      &__donut {
        position: absolute;
        left: -7%;
        top: 55%;
        max-width: 30%;
      }

      &__container {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        gap: 30px;
        font-weight: 800;
        text-align: center;
        font-size: 18px;
      }

      &__header {
        position: relative;
      }

      &__text {
        font-family: $font-family_2;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 28px;
      }

      &__subtitle {
        font-family: $font-family_1;
        font-weight: 800;
        color: $color_2;
        text-transform: uppercase;
        font-size: 22px;
      }

      &__packshot {
        max-width: 80%;
        position: relative;
        padding-bottom: 50px;
        padding-top: 50px;
      }

      &__packshot-text {
        position: absolute;
        font-family: $font-family_3;
        color: $color_2;
        font-size: 18px;

        &-1 {
          bottom: 65px;
          left: -30px;
        }

        &-2 {
          top: 25px;
          right: -20px;
        }

        &-3 {
          bottom: 25px;
          right: -20px;
        }
      }

      &__ba {
        position: relative;
        margin-bottom: 30px;
      }

      &__ba-image {
        max-width: 90%;
      }

      &__ba-before {
        position: absolute;
        bottom: -30px;
        left: 20%;
        font-family: $font-family_2;
        font-weight: 800;
        color: $color_2;
        text-transform: uppercase;
      }

      &__ba-after {
        position: absolute;
        bottom: -30px;
        right: 25%;
        font-family: $font-family_2;
        font-weight: 800;
        color: $color_2;
        text-transform: uppercase;
      }
    }

    .es-colors {
      padding-top: 30px;
      padding-bottom: 30px;

      &__container {
        max-width: 305px;
        margin: 0 auto;
        margin-top: 32px;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        row-gap: 40px;
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
        flex-wrap: wrap;
      }

      &__single {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        max-width: 215px;
        text-align: center;
        position: relative;
      }

      &__number {
        position: absolute;
        top: 2%;
        left: 30%;
        -webkit-transform: translate(12%, 30%);
        transform: translate(12%, 30%);
        font-weight: 900;
        font-size: 30px;
      }

      &__text {
        margin-top: 20px;
        font-weight: 400;
        font-family: $font-family_2;
        font-size: 19px;
        min-height: 90px;
      }
    }

    .es-application {
      font-weight: 900;
      margin-bottom: 60px;
      padding: 0 30px;
      position: relative;

      &__donut {
        position: absolute;
        max-width: 15%;
        top: -4%;
        right: -3%;
      }

      &__title {
        font-family: $font-family_4;
        font-weight: 800;
        line-height: 1.2;
        font-size: 30px;
        text-align: center;
        margin-top: 10px;
      }

      &__container {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        align-items: flex-start;
        row-gap: 45px;
        flex-wrap: wrap;
        margin-top: 40px;
      }

      &__single {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        max-width: 300px;
      }

      &__single--img {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: 1px solid transparent;
        border-radius: 17px;
        margin-bottom: 10px;

        &:hover {
          -webkit-transform: scale(1.02);
          transform: scale(1.02);
        }
      }

      &__single--text--desc {
        display: block;
        margin: 0 auto;
      }

      &__single--text {
        font-family: $font-family_3;
        color: $color_2;
        font-size: 24px;
        text-align: center;
      }

      &__single-subtitle {
        font-family: $font-family_1;
        color: $color_2;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
      }

      &__single--text-small {
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
        text-align: center;
        font-family: $font-family_1;
        color: $color_2;
        font-weight: 600;
      }

      &__container--title {
        margin-top: 50px;
      }

      &__video {
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }

      &__video--container {
        z-index: 2;
        position: relative;
      }

      &__video-wrapper {
        position: relative;
      }

      &__video-donut {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        max-width: 20%;

        &--1 {
          top: -12%;
          left: -14%;
        }

        &--2 {
          right: -5%;
          left: auto;
          top: 10%;
          max-width: 9%;
        }

        &--3 {
          left: auto;
          top: auto;
          bottom: -7%;
          right: -8%;
          max-width: 14%;
        }
      }
    }

    .es-cross {
      padding: 40px 16px;
      padding-bottom: 100px;
      text-transform: uppercase;
      font-weight: 900;
      text-align: center;
      position: relative;

      &__title {
        font-size: 20px;
        position: relative;
        z-index: 1;
      }

      &__title--small {
        font-size: 20px;
      }

      &__single {
        display: block;
        margin: 0 auto;

        &:hover {
          &__img {
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
          }

          &__link {
            background-color: $background-color_2;
            color: $color_2;
            box-shadow: inset 0px 0px 0px 2px #000;
          }
        }
      }

      &__packshot {
        margin-bottom: 16px;
        margin-top: 20px;
        padding-bottom: 16px;
        width: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: end;
        align-items: flex-end;
      }

      &__img {
        max-height: 100%;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        position: relative;
        z-index: 2;
        max-width: 150px;

        &--2,
        &--3 {
          max-width: 100%;
        }
      }

      &__container--desc {
        display: block;
        margin: 0 auto;
      }

      &__name {
        min-height: 33px;
        font-size: 14px;
        margin-bottom: 8px;
      }

      &__desc {
        text-align: center;
        font-size: 14px;
        text-transform: none;
        font-weight: 300;
        margin-bottom: 32px;
      }

      &__link {
        margin: 0;
        padding: 0;
        line-height: inherit;
        font-size: 14px;
        font-weight: inherit;
        background: #000;
        color: $color_1;
        text-decoration: none;
        padding: 14px 45px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
      }

      &__donut {
        position: absolute;
        bottom: -3%;
        right: -13%;
        max-width: 35%;

        &--1 {
          top: 2%;
          left: -5%;
          right: auto;
        }
      }
    }

    .es-footer {
      background-color: $background-color_3;
      position: relative;
      z-index: 2;

      &__img {
        max-width: 250px;
        padding-bottom: 5px;
      }
    }

    @media screen and (min-width: 400px) {
      .es-kv {
        &__left-label-2 {
          top: 65px;
        }
      }
    }

    @media screen and (min-width: 576px) {
      .es-title {
        font-size: 18px;
      }

      .es-kv {
        position: relative;

        &__container {
          display: -webkit-box;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          flex-direction: row;
          margin-bottom: 50px;
        }

        &__left {
          width: 70%;
          padding: 15px 10px 0 20px;
        }

        &__right {
          width: 30%;
          margin-bottom: 0;
        }

        &__headline {
          font-size: 26px;
        }

        &__left-arrow {
          top: 115px;
          left: 50px;
        }

        &__left-label-2 {
          top: 65px;
          right: 7px;
          max-width: 12%;
        }

        &__left-label {
          left: 32px;
          max-width: 35%;
        }

        &__headline--small {
          font-size: 14px;
        }
      }

      .es-colors {
        &__number {
          font-size: 18px;
        }
      }

      .es-ingredients {
        &__donut {
          left: -3%;
          top: 80%;
          max-width: 17%;
        }

        &__container {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          flex-direction: row;
          justify-content: space-around;
        }

        &__packshot {
          max-width: 36%;
        }

        &__header {
          padding-left: 30px;
        }

        &__text {
          font-size: 25px;
        }

        &__subtitle {
          font-size: 25px;
        }

        &__single {
          display: -webkit-box;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-direction: column;
          -webkit-box-align: center;
          align-items: center;
          width: auto;
        }

        &__single--img {
          width: 120px;
        }
      }

      .es-application {
        &__title {
          font-size: 43px;
        }

        &__container {
          max-width: 450px;
          margin: 0 auto;
          gap: 15px;
          margin-bottom: 75px;
        }

        &__single--text--desc {
          min-height: 120px;
          display: -webkit-box;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-flow: column;
        }

        &__single {
          max-width: 45%;
        }

        &__video {
          max-width: 80%;
        }
      }

      .es-colors {
        &__container {
          position: relative;
          max-width: 475px;
          margin: 0 auto;
          -webkit-column-gap: 30px;
          -moz-column-gap: 30px;
          column-gap: 30px;
        }

        &__single {
          max-width: 70px;
        }
      }

      .es-cross {
        &__title {
          font-size: 45px;
        }

        &__title--small {
          font-size: 23px;
        }

        &__single {
          max-width: 350px;
        }

        &__container--desc {
          height: 190px;
          display: -webkit-box;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-flow: column;
        }
      }
    }

    @media screen and (min-width: 768px) {
      .es-ingredients {
        &__packshot-text {
          font-size: 30px;
        }

        &__packshot-text-1 {
          bottom: 68px;
          left: -78px;
        }

        &__packshot-text-2 {
          top: 11px;
          right: -63px;
        }

        &__packshot-text-3 {
          bottom: 3px;
          right: -50px;
        }

        &__ba-image {
          max-width: 92%;
        }
      }

      .es-application {
        &__video-donut {
          &--1 {
            top: -12%;
            left: 1%;
          }

          &--2 {
            right: 6%;
            left: auto;
            top: 10%;
            max-width: 9%;
          }

          &--3 {
            left: auto;
            top: auto;
            bottom: -7%;
            right: 1%;
            max-width: 14%;
          }
        }
      }

      .es-kv {
        &__left-label-2 {
          top: 75px;
          right: 25px;
          max-width: 12%;
        }
      }

      .es-cross {
        padding-bottom: 150px;

        &__container {
          display: -webkit-box;
          display: flex;
          flex-wrap: wrap;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: end;
          align-items: flex-end;
          gap: 32px 8px;
          margin-top: 10px;
        }

        &__single {
          max-width: 234px;
          display: -webkit-box;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-flow: column;
        }

        &__packshot {
          height: 300px;
        }

        &__container--desc {
          height: 210px;
        }

        &__desc {
          max-width: 280px;
        }

        &__donut {
          bottom: -13%;
          right: -8%;

          &--1 {
            top: 0;
            left: -3%;
            right: auto;
            max-width: 18%;
          }
        }
      }
    }

    @media screen and (min-width: 854px) {
      .es-kv {
        &__headline {
          font-size: 40px;
        }

        &__left-label-2 {
          top: 100px;
          right: 7px;
          max-width: 12%;
        }

        &__headline--small {
          font-size: 30px;
          padding: 0;
          margin-bottom: 30px;
        }

        &__left--img {
          max-width: 580px;
        }
      }

      .es-title {
        font-size: 45px;
      }
    }


    @media screen and (min-width: 986px) {
      .es-application {
        margin-top: 0;

        &__donut {
          max-width: 19%;
          top: -6%;
        }

        &__container {
          max-width: none;
          gap: 10px;
        }

        &__single {
          max-width: 220px;
        }

        &__single--text {
          margin-bottom: 10px;
          font-size: 28px;
        }

        &__single-subtitle {
          font-size: 15px;
        }
      }

      .es-kv {
        &__left-label-2 {
          top: 100px;
          right: 5px;
          max-width: 13%;
        }
      }
    }

    @media screen and (min-width: 890px) {
      .es-colors__container {
        -webkit-column-gap: 25px;
        -moz-column-gap: 25px;
        column-gap: 25px;
      }
    }

    @media screen and (min-width: 945px) {
      .es-kv {
        &__headline {
          margin-bottom: 7px;
          font-size: 45px;

          &--small {
            margin-bottom: 42px;
            font-size: 30px;
          }
        }

        &__left-arrow {
          top: 132px;
          left: 77px;
          max-width: 10%;
        }

        &__container {
          padding-right: 20px;
        }

        &__left-label {
          bottom: 4%;
          left: 11%;
          max-width: 29%;
        }
      }

      .es-cross {
        &__single {
          max-width: 300px;
        }

        &__packshot {
          height: 350px;
        }

        &__container--desc {
          height: 135px;
        }
      }

      .es-ingredients {
        &__header {
          padding-left: 30px;
          margin-top: -83px;
          margin-left: 39px;
        }

        &__text {
          font-size: 46px;
        }

        &__subtitle {
          font-size: 35px;
        }
      }
    }

    @media screen and (min-width: 1200px) {
      .es-kv {
        &__left--img {
          max-width: 620px;
        }

        &__left-label {
          bottom: -3%;
          left: 9%;
          max-width: 32%;
        }
      }

      .es-colors {
        padding-bottom: 0;

        &__container {
          -webkit-column-gap: 10px;
          -moz-column-gap: 10px;
          column-gap: 10px;
        }

        &__single {
          max-width: 80px;
        }

        &__container {
          max-width: none;
        }
      }
    }
  }
}